<table>
<%= form_for(@trip) do |f| %>
<tr>
  <td><label>Trip name:</label></td>
  <td><%= f.text_field :name, placeholder: "(Optional)", autocomplete: "off" %></td>
</tr>
<tr>
    <%= f.fields_for :locations do |v| %>
    <td><%= v.label "Address:" %></td>
    <td><%= v.text_field :address, list: 'address_list', autocomplete: 'off' %></td>
    <datalist id="address_list">
    <% Location.all.each do |l| %>
      <option value="<%= l.address %>"></option>
    <% end %>
    </datalist>
    <% end %>
</tr>
<tr>
  <td><%= f.submit %></td>
</tr>
<% end %>
</table>