Details for trip <%= @trip.id %> (<%= @trip.name %>)<br>
Locations:<br>
<ul>
<% @trip.locations.each do |l| %>
<li><%=l.address%></li>
<% end %>
</ul>
Add a location:<br>
<%= form_for @location do |f| %>
    <%= hidden_field_tag(:trip_id, @trip.id) %>
    <%= f.label "Address: " %>
    <%= f.text_field :address, list: 'address_list', autocomplete: 'off' %><br>
    <datalist id="address_list">
    <% Location.all.each do |l| %>
      <option value="<%= l.address %>"></option>
    <% end %>
    </datalist>
  <%= f.submit "Add location" %>
<% end %>