Details for trip <%= @trip.id %> (<%= @trip.name %>)<br>
Locations:<br>
<table>
<tr>
<td>Address</td>
<td>Time in</td>
<td>Time out</td>
</tr>
<% @trip.trip_locations.each do |l| %>
<tr>
<%= form_for l do |tl| %>
<td><%=Location.find(l.location_id).address %></td>
<td><%= tl.text_field :time_in, size: 5, autocomplete: 'off' %><input type="button" value="🕒" onclick="timeStamp(this.form,'trip_location_time_in')" /></td>
<td><%= tl.text_field :time_out, size: 5, autocomplete: 'off' %><input type="button" value="🕒" onclick="timeStamp(this.form,'trip_location_time_out')" /></td>
<td><%= tl.submit "Update", style: "display:none" %>🗑️</td>
<% end %>
</tr>
<% end %>
<tr>
<td colspan=4>Add a location by address...
</tr>
<tr>
<td colspan=2>
<%= form_for @location do |f| %>
    <%= hidden_field_tag("location[trip_id]", @trip.id) %>
    <%= f.text_field :address, list: 'address_list', autocomplete: 'off' %>
    <datalist id="address_list">
    <% Location.group('address').order('address').each do |l| %>
      <option value="<%= l.address %>"></option>
    <% end %>
    </datalist>
  </td>
  <td align="right">
  <%= f.submit "Add" %>
<% end %>
</td>
</tr>
</table>
<script>
function timeStamp(src,tgt){
	console.log(src);
  time = new Date(); 
  time.setMinutes(time.getMinutes()-time.getTimezoneOffset()); 
  time = time.toISOString().slice(11,16);
	if (confirm("Set " + tgt + " for " + src.id + " to " + time)){
    src.elements[tgt].value=time;
    src.submit();
  }
}
</script>
