Details for trip <%= @trip.id %> (<%= @trip.name %>)<br>
Locations:<br>
<ul>
<% @trip.locations.each do |l| %>
<li><%=l.address%></li>
<% end %>
</ul>
Add a location:<br>
<%= form_for(@trip) do |f| %>
    <%= f.fields_for :location do |v| %>
    <%= v.label "Address: " %>
    <%#= collection_select(:location, :address, Location.all, :address, :address, prompt: "Please select your location from this dropdown") %>
    <%= v.text_field :address, list: 'address_list', autocomplete: 'off' %><br>
    <datalist id="address_list">
    <% Location.all.each do |l| %>
      <option value="<%= l.address %>"></option>
    <% end %>
    </datalist>
    <% end %>
  <%= f.submit %>
<% end %>