<% if flash[:error] %>
<h3 style="color:red;"><%= flash[:error] %></h3>
<% end %>
<% flash[:error]="" %>
<h1>Sign up as a new TripTracker user.</h1>
<%= form_for(@user) do |f| %>
  <label>Handle or Nickname:</label>
  <%= f.text_field :handle %><br>
  <label>Email:</label>
  <%= f.text_field :email %><br>
  <label>Password:</label>
  <%= f.password_field :password %><br>
  <%= f.submit "Sign up"%> or <a href="/login">Log in</a>
<% end %> 
