
Handle: <%= @user.handle %><br>
Email: <%= @user.email %><br>
Trips: <%= @user.trips.count %><br>
<table>
<tr>
<td>Trip ID</td>
<td>Name</td>
<td>Stops</td>
</tr>
<% @user.trips.order("id desc").each do |t|%>
<tr>
<td align="center"><%= t.id %></td>
<td><%= link_to t.disp_name, trip_path(t) %></td>
<td align="center"><%= t.locations.count%></td>
<td><%= link_to "ðŸ—‘ï¸", trip_path(t.id), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" } %></td>
</tr>
<% end %>
</table>


