<!DOCTYPE html>
<html>
  <head>
    <title>TriptrackerProjectThreeRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
<% if logged_in? %>
<%= link_to "My Trips", user_path(current_user) %>
<%= link_to "New Trip", "#{user_path(current_user)}/trips/new" %>
<%= link_to "Log Out", "/logout", method:'post' %>
<% else %>
<p>Try <%= link_to 'Signing in with the GitHub strategy', '/auth/github'%>.</p>
<% end %>
  </body>
</html>
